@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Space Mono", monospace;
}

.App {
  text-align: center;
}

a.navbar-title {
  line-height: 71px;
  color: #FFCC00;
}

p.navbar-subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #6F3FF5;
}

li.ant-menu-overflow-item {
  color: #FFCC00;
}